<!DOCTYPE html>
<html>
<head>
    <title>Listen Now</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="hero-section" style="background-image: url('{% static 'images/hero.jpg' %}'); height: 100vh; background-size: cover; text-align: center;">
        <div class="container">
            <h1 class="display-4 text-white">More Music Coming Soon!</h1>
            <ul class="list-inline mt-5">
                <li class="list-inline-item">
                    <a href="https://x.com/Hot__Fenix" class="btn btn-light btn-lg">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/hot._.fenix/" class="btn btn-light btn-lg">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
